.container-canvas {
  display: flex;
}

.metaData {
  border: 1px solid black;
  align-self: center;
  margin-left: 2rem;
  padding: 1rem;
}

.canvas {
  margin-top: 2rem;
  overflow: hidden;
  border: 1px solid black;
}

.h3 {
  text-align: center;
  font-weight: normal;
}
